{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-native", "prettier"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "prettier",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "no-logical-assignment-operators": ["off"],
    "no-unused-vars": "warn",
    "no-console": "warn",
    "import/order": "error",
    "import/namespace": "off",
    "indent": ["error", 2],
    "quotes": ["error", "single"]
  },
  "settings": {
    "import/ignore": ["react-native"],
    "react": {
      "version": "detect"
    }
  }
}
