{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-native",
    "prettier",
    "jest"
  ],
  "extends": [
    "@react-native-community",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "no-logical-assignment-operators": ["off"],
    "no-unused-vars": "warn",
    "no-console": ["warn", { "allow": ["error"] }],
    "import/order": "off",
    "import/namespace": "off",
    "indent": ["error", 2],
    "quotes": ["error", "single"]
  },
  "settings": {
    "import/ignore": ["react-native"],
    "react": {
      "version": "detect"
    }
  }
}
